{% extends 'admin/layout.html' %}

{% block admin_content %}
<h1 class="mt-4 mb-4 h2">Agregar Nuevo Usuario Administrador</h1>

<div class="card">
    <div class="card-body">
        <form action="{{ url_for('add_user') }}" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de Usuario</label>
                <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Contraseña</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password" required>
                    <button class="btn btn-outline-secondary toggle-password" type="button">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
            </div>
            <a href="{{ url_for('list_users') }}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Guardar Usuario</button>
        </form>
    </div>
</div>
{% endblock %}
