{% extends 'admin/layout.html' %}

{% block admin_content %}
<h1 class="mt-4 mb-4 h2">Editar Usuario: {{ user.username }}</h1>

<div class="card">
    <div class="card-body">
        <form action="{{ url_for('edit_user', user_id=user.id) }}" method="POST">
            <div class="mb-3">
                <label for="username" class="form-label">Nombre de Usuario</label>
                <input type="text" class="form-control" id="username" name="username" value="{{ user.username }}" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Nueva Contraseña</label>
                <div class="input-group">
                    <input type="password" class="form-control" id="password" name="password">
                    <button class="btn btn-outline-secondary toggle-password" type="button">
                        <i class="fas fa-eye"></i>
                    </button>
                </div>
                <div class="form-text">Deja este campo en blanco si no quieres cambiar la contraseña.</div>
            </div>
            <a href="{{ url_for('list_users') }}" class="btn btn-secondary">Cancelar</a>
            <button type="submit" class="btn btn-primary">Actualizar Usuario</button>
        </form>
    </div>
</div>
{% endblock %}
